recursive-include gbasis *.pyx *.pxd *.h *.cpp
recursive-exclude gbasis cext.cpp

include libs/common.sh
include libs/install_libint-2.0.3.sh

include README.rst
include LICENSE.txt
include dependencies.json
include gbasis/bsets/*.nwchem
include gbasis/bsets/*.gbs
include gbasis/test/cached/*/*.*
